@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --primary-color: #bb86fc;
}
[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #000000;
  --primary-color: #0070f3;
}
body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
