footer {
  color: var(--secondary-color2);
  font-weight: 600;

  img {
    color: var(--text-color);
  }
  .div2 span a ion-icon {
    transition: color 500ms, transform 500ms;
  }

  .div2 span a ion-icon:hover {
    color: var(--primary-color) !important;
    transform: scale(1.1);
  }

  .copy {
    padding-bottom: 25px;
    width: 400px;
    margin: 0 auto;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .copy p {
    background: #44444447;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    color: var(--text-color);
  }
}
